dist
cabal-dev
.cabal-sandbox
cabal.sandbox.config
*.o
*.hi
*.chi
*.chs.h
*.lksh*
.virthualenv
.psci_modules/
.test_modules/
bower_components/
node_modules
*.cabal
tmp/
.stack-work/
stack.yaml.lock
output
examples/docs/docs/
core-tests/full-core-docs.md
.psc-ide-port
.vscode/
# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
